<h1>Ujian Tengah Semester</h1>
<div class="container">
<form [formGroup]="form" action="" method="POST" role="form">
  <legend></legend>
  <div class="form-group col-md-6">
    <label for="">Nama:</label>
    <input
    formControlName = "nama" 
    type="text" 
    class="form-control" 
    id="nama">
    <div *ngIf="nama.touched && nama.invalid" class="alert alert-danger"> 
      Nama Harus Diisi</div>
    <div *ngIf="nama.errors.minlength" class="alert alert-danger">Nama minimal 3 huruf</div>
  </div>

  <div class="form-group col-md-6">
    <label for="">Alamat:</label>
    <input formControlName="alamat" type="text" id="alamat" class="form-control" id="">
    <div *ngIf="alamat.touched && alamat.invalid" class="alert alert-danger">
    Alamat Harus Diisi</div>
  </div>
  <div class="form-group col-md-6">
    <label for="">Tanggal Lahir:</label>
    <input formControlName="tanggallahir" type="date" name="" id="tanggallahir" class="form-control" value="" required="required" title="">
    <div *ngIf="tanggallahir.touched && tanggallahir.invalid" class="alert alert-danger">
      Tanggal Lahir Harus Diisi
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="">Jenis Kelamin:</label>
    <select formControlName="jeniskelamin" id="jeniskelamin" class="form-control" required="required">
      <option value=""></option>
      <option value="p">Perempuan</option>
      <option value="l">Laki-Laki</option>
    </select>
    <div *ngIf="jeniskelamin.touched && jeniskelamin.invalid" class="alert alert-danger">
      Harap Memilih Jenis Kelamin
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="">No tlp:</label>
    <input formControlName="notlp" type="text" id="notlp" class="form-control" value="" required="required" pattern="" title="">
    <div *ngIf="notlp.touched && notlp.invalid" class="alert alert-danger">
      Nomor Telepon Harus Diisi 
      <div *ngIf="notlp.errors.pattern" class="alert alert-danger"> 
      Harus diisi nomor
    </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="">Username:</label>
    <input formControlName="username" type="text" id="username" class="form-control" value="" required="required" pattern="" title="">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
      Username Harus Diisi
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="">Password:</label>
    <input formControlName="password" type="password" name="" id="password" class="form-control" required="required" title="">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      Password Harus Diisi
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

