#isi{
    margin-left: 100px;
    font-weight: bold;
    font-size: 20px;
}
table{
    margin-left: 100px;
    color: #232323;
    border-collapse: collapse;
}
table,th,td{
    border: 1px solid #999;
    padding: 8px 20px;
}

